body {
  font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif; 
  font-size:14pt; 
  font-weight:800;
  color: #333333;
}

table {
  border:0px; 
  padding:0px;
  margin:0px;
}

td {
/*  background: url('../images/cloud.png'); */
  background-repeat:no-repeat;
  border:0px; 
  padding:0px;
  margin:0px;
}

td a, a:link, a:visited, a:hover {
  font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif; 
  text-decoration:none;
}
